<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.cs.skkueats">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ApplicationGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Skkueats">

        <activity
            android:name=".test.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Select.SelectActivity" />
        <activity android:name=".RestaurantInfo.RestaurantInfoView" />
        <activity android:name=".MenuRecommendedList.MenuRecommendsView" />
        <activity android:name=".RecommendConditions.RecommendConditionsView" />
        <activity android:name=".SearchActivity.SearchActivityView" />
        <activity android:name=".Login.LoginView" />
        <activity android:name=".Register.RegisterView" />
        <activity android:name=".MyProfile.MyProfileView" />
        <activity android:name=".RestaurantMenus.RestaurantMenusView" />
        <activity android:name=".CampusRestaurantMenus.CampusCafeMenusView" />
        <activity android:name=".WriteReview.WriteReviewView" />
        <activity android:name=".CampusCafeInfo.CampusCafeInfoView"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="fioqlzo4k2" />

    </application>

</manifest>